/*comentario de css*/
header img {
  width: 100px;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

footer {
  background-color: white;
  text-align: center;
  box-shadow: 0 -2px 3px rgba(0, 0, 0, 0.05);
  bottom: 0;
  width: 100%;
  padding-block: 5px;
}
footer img {
  width: auto;
  height: 30px;
  margin-block: 10px;
}

/*Body*/
.body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

/*Header*/
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white !important;
  padding: 2px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  position: fixed;
  z-index: 100;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  max-height: 100px;
}
header a {
  color: #0021fa;
}

.bg-light {
  background-color: white !important;
}
.bg-light a {
  color: #0021fa;
}

main {
  flex-grow: 1;
  display: flex;
}

h1 {
  text-align: center;
  color: #0021fa;
  margin: 20px 0;
}

h2 {
  text-align: center;
  color: black;
  margin: 20px 0;
  justify-content: center;
}

/*Logowhatsapp*/
.wpp {
  position: fixed;
  bottom: 30px;
  right: 50px;
  width: 50px;
}

/*Index*/
.main-content1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-top: 100px;
}
.main-content1 img {
  width: 100%;
  max-width: 100%;
  height: auto;
  max-height: 40%;
  aspect-ratio: 16/9;
  margin-bottom: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  -o-object-fit: cover;
     object-fit: cover;
}

/*Main Ofertas*/
.main-content1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-top: 100px;
}
.main-content1 .offer-images {
  display: flex;
  flex: 1;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.main-content1 .offer-images .card {
  width: 18rem;
}
.main-content1 .offer-imagessem img {
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-block: 5px;
}

/*Main Mensajes*/
.main-content1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-top: 100px;
}
.main-content1 h1 {
  text-align: center;
  color: #0021fa;
  margin: 20px 0;
}
.main-content1 ul {
  list-style: none;
}
.main-content1 .textomensj {
  background-color: #f1f1f1;
  color: black;
  padding: 10px 15px;
  border-radius: 8px;
  width: 90%;
  margin: 15px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  line-height: 1.8;
  text-align: left;
}

/*Main Pedidos*/
.main-content1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin-top: 100px;
}
.main-content1 .pedidos {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 90%;
}
.main-content1 .pedidos .pedido-item {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding-block: 2px 2px;
  border-radius: 8px;
  background: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  margin: auto;
}
.main-content1 .pedidos .pedido-item img {
  border-radius: 10%;
  height: 80px;
  width: 80px;
  max-width: 100%;
}
.main-content1 .pedidos .pedido-item .pedidos-p {
  background-color: transparent;
  box-shadow: none;
  text-align: left;
}
.main-content1 .pedidos .pedido-item .pedidosnum {
  box-shadow: none;
  color: #0021fa;
}

/*Miperfil*/
.main-content1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-top: 100px;
}
.main-content1 .img-perfil {
  width: 80px;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.main-content1 .card {
  transition: color 1s;
}
.main-content1 .card :hover {
  color: cadetblue;
}/*# sourceMappingURL=estilos.css.map */