//comentario de sass
/*comentario de css*/

@use "partials/variables";
@use "partials/footer";


$azul:#0021fa;

// Nesting
/*Body*/
.body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}


/*Header*/
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white !important;
    padding: 2px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    position: fixed;
    z-index: 100;
    width: 100%;
    height: fit-content;
    max-height: 100px;

    a {
        color:$azul;
        }
    }

.bg-light {
        background-color: white !important;
        a {
            color: $azul;
        }
    }       

main {
    flex-grow: 1;
    display: flex;
}

h1 {
    text-align: center;
    color: $azul;
    margin: 20px 0;
}


h2 {
    text-align: center;
    color: black ;
    margin: 20px 0;
    justify-content: center;

}

/*Logowhatsapp*/
.wpp {
    position: fixed;
    bottom: 30px;
    right: 50px;
    width: 50px;
}

//IndexMain
/*Index*/
.main-content1 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 100px;
    img {
        width: 100%;
        max-width: 100%;
        height: auto;
        max-height: 40%;
        aspect-ratio: 16 / 9;
        margin-bottom: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        object-fit: cover;
    }

}
    
/*Main Ofertas*/
.main-content1 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 100px;
    .offer-images { 
        display: flex;
        flex: 1;
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
        .card {
            width: 18rem;
        }
        
    }
    .offer-imagessem {
    img {
            width: 200px;
            height: 200px;
            object-fit: cover;
            border-radius: 8px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            margin-block: 5px;
        }
    }
    }


/*Main Mensajes*/
.main-content1 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 100px;
    h1 {
        text-align: center;
        color:$azul;
        margin: 20px 0;
    }
    ul {
    list-style: none;
    }
    .textomensj {
        background-color: #f1f1f1;
        color: black;
        padding: 10px 15px;
        border-radius: 8px;
        width: 90%;
        margin: 15px auto;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        font-size: 16px;
        line-height: 1.8;
        text-align: left;
    }

}

/*Main Pedidos*/
.main-content1 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin-top: 100px;
    
    .pedidos { 
        list-style: none;
        display: flex; 
        flex-direction: column;
        gap:10px;
        width: 90%;


        .pedido-item { 
            display: flex;
            width: 100%;
            align-items: center;
            justify-content:center;
            padding-block: 2px 2px;
            border-radius: 8px;
            background: white;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
            margin: auto;
        
            img {
            border-radius: 10%;
            height: 80px;
            width: 80px;
            max-width: 100%;

            }
            .pedidos-p {
            background-color: transparent;
            box-shadow: none;
            text-align: left;
            }
            .pedidosnum {
            box-shadow: none;
            color: $azul;
            }
        }
    }

}

/*Miperfil*/
.main-content1 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 100px;

    .img-perfil {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
    
    .card {
        transition: color 1s;
    }
    .card :hover {
        color:cadetblue ;
    }
}





